.AddMetric h2 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.AddMetric {
    margin-top: 0;
}

.AddMetric form {
    padding: 10px;    
    text-align: center;
}

.AddMetric input {
    border: solid 1px #000;
    padding: 2px;
}

.AddMetric input[type=number] {
    width: 100px;
    height: 42px;
    font-size: 15pt;
    margin-right: 10px;
}

.AddMetric input[type=submit] {
    width: 100px;
    font-size: 15pt;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
}

.AddMetric p {
    padding-right: 10px;
    padding-left: 10px;
}