
.primary-background {
    background-color: #254a62;
    color: #fff;
  }
  
  .secondary-background {
    background-color: #8bc0d1;
    color: #000;
  }

  .terciary-background {
    background-color: #758e74;
    color: #fff;
  }

.link-color {
    color: #254a62;
}
