.Metric h2 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Metric {
    margin-top: 0;
    
}

.Metric a {
    text-decoration: none;
    font-weight: bold;
    color: #254a62;
    float: right;
}