.Metric h2 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Metric {
    margin-top: 0;
}

.Metric a {
    float: right;
}

.Metric p {
    margin: 10px;
}