.WeightLoss h2 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.WeightLoss {
    margin-top: 0;
}

.WeightLoss a {
    float: right;
    margin-right: 10px;
}

.WeightLoss p {
    margin: 10px;
}